.invalid {
    border:1px solid red !important;
   }
   .valid {
    border:1px solid rgb(13, 145, 24) !important;
   }
   input, textarea {
    outline: none !important;
    box-shadow: none !important; 
  }